body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", serif;
  font-size: 62.5%;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: black;
  color: whitesmoke;
}

header {
  margin-top: 2px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: rgb(80, 80, 158);
  font-size: 2.8rem;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

nav a {
  font-size: 1.6rem;
  color: rgb(47, 74, 16);
  margin-right: 3rem;
  font-weight: 700;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a:active {
  color: rgb(80, 80, 158);
  border-bottom: 3px solid rgb(80, 80, 158);
  text-decoration: none;
}

.name {
  color: rgb(80, 80, 158);
  min-width: 40rem;
}

section {
  min-height: 100%;
  padding: 5rem 9% 5rem 9%;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  min-width: 90rem;
  background-color: black;
}

.home img {
  position: relative;
  width: 700px;
  height: 400px;
  margin-top: 20px;
  margin-left: -250px;
  box-shadow: 0 0 25px 0.3;
  transition: 0.2s linear;
}

.home-content {
  line-height: 1.3;
  margin-top: 30px;
  width: 600px;
  margin-left: -60px;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  margin-top: -40px;
}

h3 {
  font-weight: 700;
  font-size: 1.8rem;
}

p {
  padding: 0 20px;
  margin-top: -5px;
  margin-left: -20px;
  max-width: 28rem;
}

span {
  color: rgb(80, 80, 158);
}

.social-icon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid rgb(150, 150, 224);
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover {
  color: black;
  transition: scale(1.3) transparent;
  background-color: rgb(150, 150, 224);
}

.fa-brands {
  color: rgb(174, 216, 135);
  font-size: 0.8rem;
  margin-left: 10px;
  margin-top: 8px;
  margin-bottom: 12px;
}

@media (max-width: 995px;) {
  nav {
    position: absolute;
    top: 100%;
    right: 0;
    width: 40%;
    border-left: 3px solid rgb(80, 80, 158);
  }

  nav a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  nav:active {
    display: block;
  }

  nav a:hover,
  nav a:active {
    padding: 1rem;
    border-bottom: 0.5px solid rgb(80, 80, 158);
    border-radius: 0.5rem;
  }
}
